.docked-widget {

  /*overflow-y: scroll;*/
  /*box-shadow: 0 4px 15px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1), inset 0 2px 0 0 #5a5e6147;*/
}

.widget-dialog {
  animation-duration: 0.2s !important;
  animation-fill-mode: forwards !important;
}

.widget-title {
  padding : 10px 20px 20px 20px !important;
  line-height: 30px !important;
  background: #159adc !important;
  color: #FFF !important;
  display: flex !important;
  align-items: stretch !important;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: pre-line;
  font-family: "Open Sans", sans-serif;
  font: normal normal 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 130%;
  font-style: normal;
  letter-spacing: normal;
  font-weight: 400;
  font-size : 30px;
}

.widget-subtitle {
  font-size: 12px;
  position: absolute;
  padding: 25px 0;
}

.widget-body {
  background: white !important;
}

.widget-footer {
  background: #ccc !important;
  line-height: 30px !important;
  padding-left: 10px !important;
}

.widget-entered {
  box-shadow: 0 5px 40px rgba(0,0,0,.16)!important;
  border-radius: 8px!important;
  overflow-y : scroll;
  background: #fff;
  position: fixed !important;
  bottom: 20px !important;
  right: 10px !important;
  z-index: 9999 !important;
  width: 376px!important;
  height : auto !important;
  max-height: 400px;
}

.know-how {
  margin: 0;
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
}

.knowhow-widget ::-moz-selection {
  background: #1890ff;
  color: #fff;
}
.knowhow-widget ::selection {
  background: #1890ff;
  color: #fff;
}
.knowhow-widget.clearfix {
  zoom: 1;
}
.knowhow-widget .clearfix:before,
.knowhow-widget .clearfix:after {
  content: "";
  display: table;
}
.knowhow-widget .clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'anticon';
  src: url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.eot');
  /* IE9*/
  src: url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.woff') format('woff'), /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+*/ url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.ttf') format('truetype'), /* iOS 4.1- */ url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.svg#iconfont') format('svg');
}
.knowhow-widget .anticon {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.knowhow-widget .anticon-book {
  position : fixed;
  bottom: 20px !important;
  right: 10px !important;
 }
.knowhow-widget .anticon:before {
  display: block;
  font-family: "anticon" !important;
}

.knowhow-widget .anticon-book:before {
    content: "\E637";
}

.knowhow-widget .anticon-file-text:before {
  content: "\E698";
}

.knowhow-widget .widget-header-close {
    left: 60%;
    position: relative;
    cursor : pointer;
    font-size : 20px;
}

.knowhow-widget .company-title {
  display : none;
}

.knowhow-widget .company-title, .knowhow-widget .body-categories, .knowhow-search-wrapper, .knowhow-widget .body-articles,  .knowhow-articles, .knowhow-renderArticles, .knowhow-widget-article, .knowhow-chat-box {
    padding: 10px;
    font: normal normal 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    letter-spacing: normal;
    font-weight: 400;
    margin-bottom: 17px;
    background-color: #fff;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.4;
    color: #000;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 4px 15px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1), inset 0 2px 0 0 #5a5e6147;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1), inset 0 2px 0 0 #5a5e6147;
    min-height: 100%;
    margin: 10px 20px;
}

.knowhow-categories {
    padding: 4px;
    cursor : pointer;
}

/* antd search styles */
.ant-input-group > .ant-input-affix-wrapper:not(:first-child) .ant-input {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.ant-input-group > .ant-input-affix-wrapper:not(:last-child) .ant-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.ant-input-group .ant-input-affix-wrapper {
  display: table-cell;
  width: 100%;
  float: left;
}
.ant-input-affix-wrapper {
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
}
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}
.ant-input-affix-wrapper .ant-input {
  position: static;
}
.ant-input-affix-wrapper .ant-input-prefix,
.ant-input-affix-wrapper .ant-input-suffix {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 0;
  color: rgba(0, 0, 0, 0.65);
}
.ant-input-affix-wrapper .ant-input-prefix :not(.anticon),
.ant-input-affix-wrapper .ant-input-suffix :not(.anticon) {
  line-height: 1.5;
}
.ant-input-affix-wrapper .ant-input-prefix {
  left: 12px;
}
.ant-input-affix-wrapper .ant-input-suffix {
  right: 12px;
}
.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 30px;
}
.ant-input-affix-wrapper .ant-input:not(:last-child) {
  padding-right: 30px;
  background-color: #ccc3;
  font-size: 12px;
}
.ant-input-search-icon {
  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.ant-input-search-icon:hover {
  color: #333;
}
.ant-input-search:not(.ant-input-search-small) > .ant-input-suffix {
  right: 12px;
}
.ant-input-search > .ant-input-suffix > .ant-input-search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ant-input-search > .ant-input-suffix > .ant-input-search-button > .anticon-search {
  font-size: 16px;
}
.ant-input-search .ant-input-search-enter-button > .ant-input {
  padding-right: 46px;
}
.ant-input-search .ant-input-search-enter-button > .ant-input-suffix {
  right: 0;
}

.ant-input {
  font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  width: 100%;
  height: 32px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0,0,0,.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.ant-input-search.ant-input-search-enter-button>.ant-input-suffix {
    right: 0;
}
.anticon-search:before {
    content: "\E670";
}

.knowhow-search-wrapper {
  /*padding : 5px 10px;
  height : 90px;*/
}

span.knowhow-search-title, span.knowhow-chat-title {
  padding: 10px 0;
  color : #2185d0;
  font-weight : 600;
}

span.ant-input-search.ant-input-affix-wrapper {
  float: left;
  clear: left;
}

.articles-wrapper {
  display : inline-block;
  margin-left: -30px;
  margin-top: 7px;
}

li.knowhow-company {
  list-style: none;
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

/* articles take over, cha take over  */
.knowhow-showArticles , .knowhow-chat-wrapper-show{
  box-shadow: 0 5px 40px rgba(0,0,0,.16)!important;
  border-radius: 8px!important;
  background: #fff;
  position: fixed !important;
  bottom: 10px !important;
  right: 20px !important;
  z-index: 9999999 !important;
  width: 376px!important;
  height : auto !important;
  max-height: 410px;
  background: #fff;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  margin-right: 0px;
  min-height: 410px;
  overflow-y: scroll;
}

/* categories collapse */
.ant-collapse {
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
}
.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid #d9d9d9;
}
.ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: 0 0 4px 4px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  line-height: 22px;
  padding: 12px 0 12px 40px;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  font-size: 12px;
  position: absolute;
  display: inline-block;
  line-height: 46px;
  vertical-align: top;
  -webkit-transition: -webkit-transform 0.24s;
  transition: -webkit-transform 0.24s;
  transition: transform 0.24s;
  transition: transform 0.24s, -webkit-transform 0.24s;
  top: 0;
  left: 16px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow:before {
  display: block;
  font-family: "anticon" !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow:before {
  content: "\E61F";
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header:focus {
  outline: none;
}
.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
  padding-left: 12px;
}
.ant-collapse-anim-active {
  -webkit-transition: height 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: height 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ant-collapse-content {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-top: 1px solid #d9d9d9;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 16px;
}
.ant-collapse-content-inactive {
  display: none;
}
.ant-collapse-item:last-child > .ant-collapse-content {
  border-radius: 0 0 4px 4px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header[aria-expanded="true"] .arrow {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.ant-collapse-borderless {
  background-color: #fff;
  border: 0;
}
.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: 1px solid #d9d9d9;
}
.ant-collapse-borderless > .ant-collapse-item:last-child,
.ant-collapse-borderless > .ant-collapse-item:last-child .ant-collapse-header {
  border-radius: 0;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
  background-color: transparent;
  border-top: 0;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding-top: 4px;
}
.ant-collapse .ant-collapse-item-disabled > .ant-collapse-header,
.ant-collapse .ant-collapse-item-disabled > .ant-collapse-header > .arrow {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
}

.knowhow-article {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}

.knowhow-hideArticles {
    display: none;
}

.widget-title-articles {
  line-height: 30px !important;
  background: #159adc !important;
  color: #FFF !important;
  display: flex !important;
  align-items: stretch !important;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: pre-line;
  font-family: "Open Sans", sans-serif;
  font: normal normal 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 130%;
  font-style: normal;
  letter-spacing: normal;
  font-weight: 400;
  padding: 5px 15px;
  width: 100%;
}

.anticon-arrow-left:before {
    content: "\E61C";
}

span.widget-header-close-articles {
    left: 28%;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.knowhow-widget-article-mainTitle {
    font-size: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgba(0,0,0,.85);
    font-weight: normal;
    display: inline-block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 5px 0;
}


.knowhow-widget-article-mainDescription {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #00000087;
    display: inline-block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.knowhow-widget-article-mainContent p {
    line-height: 1.6;
}

.knowhow-widget-article-mainContent {
  color: #565867;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000000a6;
}

.article-title {
  list-style: none;
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 1em;
}

.knowhow-search-wrapper {
/*  overflow: scroll;*/
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.pagination li{
  list-style-type: none;
  display: inline;
  margin: 0 0.5vw;
}

.pagination {
  text-align: center;
  padding: 0.5vh;
  border: 0.04em solid rgba(173, 173, 173, 0.5);
  border-radius: 0.5em;
}

.pagination ul {
   margin: auto;
}

.table {
  display: table;
  margin: 0 auto;
}

.knowhow-chat-wrapper {
  display : none;
 }

.knowhow-widget .anticon-wechat:before {
  content: "\E9C4";
}

.knowhow-widget .anticon-wechat.dock-button {
    color: #FFF;
    padding : 0 0.3em;
}

.knowhow-chat-wrapper-show{
  display : block;
}

.knowhow-chat-newConversation {
    background-color: #159adc;
    display: inline-block;
    color: #fff;
    padding: 0.5em;
    border-radius: 40px;
    -webkit-box-shadow: 0 4px 15px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1), inset 0 2px 0 0 #5a5e6147;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0), 0 1px 2px 0 rgba(0,0,0,.1), inset 0 2px 0 0 #f6f7f900;
    margin: 2% 0;
}

.feedback {
  text-align: center;
    padding: 10px;
    font: normal normal 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    letter-spacing: normal;
    font-weight: 400;
    margin-bottom: 17px;
    background-color: #fff;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.4;
    color: #000;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 4px 15px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1), inset 0 2px 0 0 #5a5e6147;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1), inset 0 2px 0 0 #5a5e6147;
    min-height: 100%;
    margin: 10px 20px 25px 20px;
}

.feedback button {
  margin: 7px;
}

li {
  list-style-type: none;
}
