.docked-widget {
    position: fixed !important;
    bottom: 20px !important;
    right: 10px !important;
    width: 200px !important;
    z-index: 9999 !important;
}

.widget-dialog {
    width: 200px !important;
    border: 1px solid grey !important;
    animation-duration: 0.2s !important;
    animation-fill-mode: forwards !important;
}

.widget-title {
    height: 30px !important;
    line-height: 30px !important;
    background: lightgrey !important;
    color: grey !important;
    padding-left: 10px !important;
    display: flex !important;
    align-items: stretch !important;
}

.widget-body {
    background: white !important;
    padding: 10px !important;
}

.widget-footer {
    background: #ccc !important;
    line-height: 30px !important;
    padding-left: 10px !important;
}

.widget-entered {
    box-shadow: 0 5px 40px rgba(0,0,0,.16)!important;
    border-radius: 8px!important;
}

.know-how {
    margin: 0;
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
}
::-moz-selection {
  background: #1890ff;
  color: #fff;
}
::selection {
  background: #1890ff;
  color: #fff;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'anticon';
  src: url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.eot');
  /* IE9*/
  src: url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.woff') format('woff'), /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+*/ url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.ttf') format('truetype'), /* iOS 4.1- */ url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.svg#iconfont') format('svg');
}
.anticon {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.anticon:before {
  display: block;
  font-family: "anticon" !important;
}

.anticon-book:before {
    content: "\E637";
}
